---
layout: base
---

<h1 class="post-title">{{ page.title | escape | markdownify | remove: '<p>' | remove: '</p>' }}</h1>

{{ content }}

{% assign unsliced_posts = site.tags[page.listed_tag] %}

{% if page.page_sort == "asc" %}
  {% assign sorted_posts = unsliced_posts | sort: "date" %}
{% else %}
  {% assign sorted_posts = unsliced_posts %}
{% endif %}

{% if site.paginate %}
  {% assign posts = sorted_posts | slice: page.post_offset, page.post_count %}
{% else %}
  {% assign posts = sorted_posts %}
{% endif %}

<ul class="post-list">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in posts -%}
  <li>
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape | markdownify | remove: '<p>' | remove: '</p>' }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>

{% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
    {%- if page.paginator.previous_page %}
      <li><a href="{{ page.paginator.previous_page_path | relative_url }}" class="previous-page">{{ page.paginator.previous_page }}</a></li>
    {%- else %}
      <li><div class="pager-edge">•</div></li>
    {%- endif %}
      <li><div class="current-page">{{ page.paginator.page }}</div></li>
    {%- if page.paginator.next_page %}
      <li><a href="{{ page.paginator.next_page_path | relative_url }}" class="next-page">{{ page.paginator.next_page }}</a></li>
    {%- else %}
      <li><div class="pager-edge">•</div></li>
    {%- endif %}
    </ul>
  </div>
{%- endif %}
